<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<!-- 1. aliases 설정 -->
	<servlet>
		<servlet-name>ServletTest</servlet-name>
		<servlet-class>com.kr.ServletTest</servlet-class>
	</servlet>

	<!-- 매핑 -->
	<servlet-mapping>
		<servlet-name>ServletTest</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

</web-app>



